<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="bootstrap/app.php">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/Feature</directory>
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory>app</directory>
        </include>
    </coverage>
    <logging>
        <log type="coverage-html" target="storage/coverage" />
    </logging>
</phpunit>
