<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    stopOnFailure="false"
    executionOrder="defects"
    failOnRisky="true"
    failOnWarning="true"
    >
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_DATABASE" value="quote_of_the_day_testing"/>
        <env name="DB_USERNAME" value="laravel"/>
        <env name="DB_PASSWORD" value="password"/>
    </php>
</phpunit>

